#header {
  background: $glass;
  background: white;
  //  background:transparentize($primary, 0.1);
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-top:3px solid $secondary;
  display: none;

  .logo {
    position: absolute;

    img {
      height: 30px;
      margin: 20px 0;


    }
    @media(max-width: 750px) {
      width: 100%;
      left: 0;

      img {
        margin: 15px auto;
        display: block;
      }

    }
  }

  .top-level {

    font-size: 15px;
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    left: 150px;
    top: 18px;

    ul, li {
      padding: 0;
      margin: 0;
      border: none;
      list-style: none;
    }

    ul {
      li {
        display: block;
        float: left;
        cursor: pointer;

        a {
          display: inline-block;
          padding: 0 20px;
        }

        &.active {
          a {
            background: $lightGrey;
            background: $primary;
            color: white;
            padding-bottom: 17px;
          }
        }
      }
    }
  }

  .icons {
    height: 50px;
    margin: 10px 0;
    line-height: 50px;
    position: absolute;
    right: 0;
    font-size: 25px;
    color: white;
    color: $primary;

    i {
      width: 50px;
      text-align: center;
      cursor: pointer;
    }
  }

  .social {
    position: absolute;
    line-height: 50px;
    right: 50%;
    margin-right: -30px;
    top: 10px;

    i {
      width: 30px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
    }

    .fa-twitter {
      &:hover {
        color: deepskyblue;

      }
    }

    .fa-linkedin {
      &:hover {
        color: #007bb6;
      }
    }
  }

  @media(max-width: 750px) {
    height: 100px;

    .top-level {
      font-size: 13px;
      left: 0;
      top: 60px;
      text-align: center;
      right: 0;
      left: 0;

      ul > li {
        display: inline-block;
        float: none;
        a {
          padding: 0 7px;
        }
      }
    }

  }
}

#header-transparent {
  @extend #header;
  display: block;
  display: none;

  background: none;
  color: white;
  box-shadow: none;
  .icons {
    color: white;
  }
}
