<div data-screen="content">
    <div class="banners">
        <div class="banner" style="background-image: url('img/30.jpg')">
            <div class="container" style="height: 100%">
                <div class="banner-text">
                    <h1>Solutions</h1>

                    <p>
                        Get an overview of our company. Meet our leaders. Learn about our people, culture and our commitment to diversity. Learn about our Business Standards.
                    </p>

                    <span class="banner-button">Explore Our Clients &nbsp; <i class="fa fa-angle-right"></i></span>
                    <span class="banner-button alt">Learn About VASSIT &nbsp; <i class="fa fa-angle-right"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="html-content">

                    <h3>Dynamic</h3>

                    <p>We can provide services in any of the following models or, if need be, a combination may offer the most adequate solution for our clients needs.</p>

                    <h3>Professional Services</h3>

                    <p>Our qualified team is in <a href="#">continuous training</a> and ready to undertake or integrate in any client based projects.</p>

                    <h3>Solution Centre (Remote Delivery)</h3>

                    <div class="html-img">
                        <img class="" src="img/2.jpg" alt=""/>
                    </div>

                    <p>Part of VASSITs strategy of specialisation in selected technologies is the creation of <a href="#">Solution Centres</a> fully focused on some of the most relevant technologies. VASSIT currently has Solution Centres focused on CMS / ECM, Document Management and SOA technologies.</p>

                    <p>The Solution Centre philosophy allows VASSIT to have a refined methodology for each of the relevant products, ensuring a high level of commitment and quality in all projects that are undertaken. This allows us to deliver all solutions offered from our service catalogue remotely from any one of our focused solution centers.</p>

                    <h3>On-Shore</h3>

                    <p>Our on-shore delivery capacity is designed to provide maximum control and instant access for high-profile / high-risk engagements.</p>

                    <h3>Near-Shore</h3>

                    <p>Our near-shore capacity is delivered out of our Spanish service centres. This combines the best of all worlds bringing together the consolidated knowledge of over 11 years of experience implementing projects, reduced rates obtained through economies of scale and local costs and the proximity of Spain (on a geographical, cultural and business scale)</p>

                    <h3>Consultancy / PMO</h3>

                    <p>Our professionals can also apply their knowledge and experience selectively as and where our clients require assistance. VASSIT consultancy / PMO services may be applied at any point during the software implementation life-cycle such as:</p>

                    <p>- Assessment during project analysis phase. We can help asses on product selection, project definition and planning and high level design.<br>
                        - Detection of failures and incidences in implemented or deployed solutions.<br>
                        - Project management.<br>
                        - Quality management during software life cycle.</p>

                    <hr/>

                    <a class="vass-btn" href="#"><strong>Call To Action &nbsp; <i class="fa fa-angle-right"></i></strong></a>
                </div>

                <div class="html-content">
                    <h3>Content Item</h3>
                    <!--<hr/>-->

                    <!--<div class="html-img">-->
                        <!--<img class="" src="img/2.jpg" alt=""/>-->
                    <!--</div>-->

                    <p>Part of VASSITs strategy of specialisation in selected technologies is the creation of Solution Centres fully focused on some of the most relevant technologies.</p>

                    <a class="vass-btn alt" href="#"><strong>Call To Action &nbsp; <i class="fa fa-angle-right"></i></strong></a>

                </div>
            </div>
            <div class="col-sm-4">
                <a href="#" class="promo small small-margin">
                    <div class="promo-content">
                        <h3><i class="fa fa-angle-right"></i> &nbsp; CUSTOMER EXPERIENCE</h3>
                    </div>
                </a>

                <a href="#" class="promo small small-margin">
                    <div class="promo-content">
                        <h3><i class="fa fa-angle-right"></i> &nbsp; BIG DATA</h3>
                    </div>
                </a>
                <a href="#" class="promo small">
                    <div class="promo-content">
                        <h3><i class="fa fa-angle-right"></i> &nbsp; INDUSTRY SOLUTIONS</h3>
                    </div>
                </a>



                <div class="html-content">

                    <h3>Plan Your Migration To WebCenter Sites</h3>
                    <hr/>

                    <p>Guidelines for an effective migration from WebCenter Content / Site Studio to WCS</p>

                    <a class="vass-btn alt" href="#"><strong>Download Whitepaper &nbsp;
                        <i class="fa fa-angle-right"></i></strong></a>

                </div>

                <div class="html-content">
                    <h3>Content Item</h3>
                    <!--<hr/>-->

                    <div class="html-img">
                        <img class="" src="img/2.jpg" alt=""/>
                    </div>

                    <p>Part of VASSITs strategy of specialisation in selected technologies is the creation of Solution Centres fully focused on some of the most relevant technologies.</p>

                    <a class="vass-btn" href="#"><strong>Call To Action &nbsp; <i class="fa fa-angle-right"></i></strong></a>

                </div>

                <div class="html-content">
                    <h3>Recent Posts</h3>
                    <hr/>

                    <p><strong><a href="#">Should you migrate from Site Studio to WebCenter Sites?</a></strong></p>

                    <p>
                        <strong><a href="#">Why your knowledge management strategy must include an expert directory</a></strong>
                    </p>

                    <p><strong><a href="#">OVD: The CIO's solution to multiple IAM challenges</a></strong></p>

                    <p><strong><a href="#">VASSIT attends Oracle European Bootcamp in Barcelona</a></strong></p>

                    <p><strong><a href="#">Migration from Site Studio to WebCenter Sites (Fatwire)</a></strong></p>

                </div>
            </div>
        </div>
    </div>

</div>