<div data-screen="home" class="page-height">
    <div class="banners">
        <div class="banner" style="background-image: url('http://www.vass.es/sites/default/files/vass/slide/img_5112.jpg')">
            <div class="container" style="height: 100%">
                <div class="row">
                    <div class="banner-text">
                        <h1>The Value of Making Things Simple</h1>

                        <!--<p class="hidden-xs">-->
                        <!--Get an overview of our company. Meet our leaders. Learn about our people, culture and our commitment to-->
                        <!--diversity.-->
                        <!--</p>-->

                        <!--<span class="banner-button">Explore Our Clients &nbsp; <i class="fa fa-angle-right"></i></span>-->
                        <!--<span class="banner-button alt">Learn About VASSIT &nbsp; <i class="fa fa-angle-right"></i></span>-->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="">
            <div class="col-sm-6">
                <div class="row">
                    <div class="promo promo-small">
                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/84GOP2OAKR.jpg')"></div>
                        </div>
                        <div class="promo-content">
                            <h3>What We Do</h3>

                            <p>
                                Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                                scientie, musica, sport etc, litot Europa usa li sam vocabular.
                            </p>

                            <a class="vass-btn" href="#"><strong>More &nbsp;
                                <i class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="promo promo-small">
                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/E7CC86AEBC.jpg')"></div>
                        </div>
                        <div class="promo-content">
                            <h3>Our People</h3>

                            <p>
                                Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
                                Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar
                                custosi traductores.
                            </p>
                            <a class="vass-btn" href="#"><strong>More &nbsp; <i
                                    class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="promo">
                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/84GOP2OAKR.jpg')"></div>
                        </div>
                        <div class="promo-content alt">
                            <h3>What We Do</h3>

                            <p>
                                Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                                scientie, musica, sport etc, litot Europa usa li sam vocabular.
                            </p>

                            <a class="vass-btn alt" href="#"><strong>More &nbsp;
                                <i class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="promo">
                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/E7CC86AEBC.jpg')"></div>
                        </div>
                        <div class="promo-content alt">
                            <h3>Our People</h3>

                            <p>
                                Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
                                Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar
                                custosi traductores.
                            </p>
                            <a class="vass-btn alt" href="#"><strong>More &nbsp; <i
                                    class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="promo">

                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/D343C9600B.jpg')"></div>
                        </div>
                        <div class="promo-content alt">
                            <h3>Technology</h3>

                            <p>
                                At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
                                Ma quande lingues coalesce
                            </p>
                            <a class="vass-btn alt" href="#"><strong>More &nbsp;
                                <i class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="vass-trusted-container" style="margin-top: 30px">


        <div class="container">

            <div style="text-align: center">
                <div class="vass-title">Trusted By</div>
                <p style="margin-bottom: 40px">Global names trust our digital expertise and agile delivery to help them reach their goals</p>
            </div>

            <div class="vass-trusteds">


                <div class="vass-trusted">
                    <div class="trusted-logo" style="background-image:url('http://upload.wikimedia.org/wikipedia/commons/f/f1/ING_logo.jpg')" alt="">
                    </div>
                    <div class="trusted-title">ING Bank</div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda, autem hic libero necessitatibus perspiciatis recusandae reiciendis reprehenderit rerum voluptates.</p>
                    <div class="trusted-figure">92 Countries Served</div>

                    <a class="vass-btn" href="#"><strong>Read Case Study &nbsp;
                        <i class="fa fa-angle-right"></i></strong></a>
                </div>

                <div class="vass-trusted">
                    <div class="trusted-logo" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Ikea_logo.svg/1280px-Ikea_logo.svg.png')" alt="">
                    </div>
                    <div class="trusted-title">IKEA</div>

                    <p>Dolorem error non quod temporibus voluptatum? Alias assumenda cum est, id laboriosam molestias nostrum, odio perspiciatis quibusdam, ratione reiciendis.</p>
                    <div class="trusted-figure">100% Completion On Time</div>

                    <a class="vass-btn" href="#"><strong>Read Case Study &nbsp;
                        <i class="fa fa-angle-right"></i></strong></a>
                </div>

                <div class="vass-trusted">
                    <div class="trusted-logo" style="background-image:url('http://www.luisboyano.com/wp-content/uploads/2013/10/isban-500x360.jpg')" alt="">
                    </div>
                    <div class="trusted-title">Isban (Santander)</div>

                    <p>Aliquam dicta eligendi eveniet, facilis incidunt minus modi molestias, non nostrum omnis quas quibusdam, reiciendis omnis quas quibusdam perspiciatis quibusdam rerum.</p>
                    <div class="trusted-figure">3 Projects Delivered</div>

                    <a class="vass-btn" href="#"><strong>Read Case Study &nbsp;
                        <i class="fa fa-angle-right"></i></strong></a>
                </div>
            </div>

        </div>

    </div>

    <div class="vass-clients-container" style="margin-top: -30px">


        <div class="container">

            <div style="text-align: center">
                <div class="vass-title">More of our amazing clients</div>
                <!--<p><strong>Some more of our amazing clients</strong></p>-->
            </div>

            <div class="vass-clients">
                <div class="client" style="background-image: url('http://placedelacomedie.com/wp-content/uploads/2013/06/Comedie-Logo-France-Telecom.jpg')"></div>
                <div class="client" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Rolls-Royce_logo.svg/1280px-Rolls-Royce_logo.svg.png')"></div>
                <div class="client" style="background-image: url('https://www.telefonica.com/telefonica-theme/images/dFront/modules/mod_footer/logo_telefonica_azul.png')"></div>
                <div class="client" style="background-image: url('http://datatovalue.co.uk/WP/wp-content/uploads/2016/07/Santander-1.png')"></div>
                <div class="client" style="background-image: url('http://www.accorhotels-group.com/fileadmin/templates/images/2015/logo-accor.png')"></div>
                <div class="client" style="background-image: url('https://sakkini.imgix.net/sakkini-projects/2016/02/21135107/DP-logo.jpg')"></div>
            </div>
        </div>
    </div>

    <div class="vass-services-container">
        <div class="container">

            <div>
                <div style="margin-bottom: 40px" class="vass-title">Our Services</div>
                <!--<p>Global names trust our digital expertise and agile delivery to help them reach their goals</p>-->
            </div>

            <div class="row" style="text-align: ">
                <div class="col-sm-4">
                    <div class="vass-subtitle">Digital Strategy</div>
                    <p>Digital Strategy</p>
                    <p>Digital Marketing Strategy</p>
                    <p>Customer Journey Mapping</p>
                    <br>
                    <div class="vass-subtitle">Omni Channel</div>
                    <p>Digital Strategy</p>
                    <p>Digital Marketing Strategy</p>
                    <br>
                    <div class="vass-subtitle">Interoperability</div>
                    <p>Digital Strategy</p>
                    <p>Digital Marketing Strategy</p>
                    <p>Digital Marketing Strategy</p>
                    <p>Customer Journey Mapping</p>
                </div>
                <div class="col-sm-4">
                    <div class="vass-subtitle">Business Process</div>
                    <p>Digital Strategy</p>
                    <p>Digital Marketing Strategy</p>
                    <p>Customer Journey Mapping</p>
                    <br>
                    <div class="vass-subtitle">Platforms</div>
                    <p>Digital Strategy</p>
                    <p>Digital Marketing Strategy</p>
                    <p>Customer Journey Mapping</p>
                </div>
                <div class="col-sm-4">
                    <div class="vass-subtitle">DevOps</div>
                    <p>Digital Strategy</p>
                    <p>Customer Journey Mapping</p>
                    <br>
                    <div class="vass-subtitle">Quality Assurance</div>
                    <p>Digital Strategy</p>
                    <p>Digital Marketing Strategy</p>
                    <br>
                    <div class="vass-subtitle">Support & Operation Services</div>
                    <p>Digital Strategy</p>
                    <p>Digital Marketing Strategy</p>
                    <p>Customer Journey Mapping</p>
                    <p>Digital Strategy</p>
                    <p>Digital Marketing Strategy</p>
                </div>
            </div>
        </div>
    </div>

    <div class="vass-stats-container">


        <div class="container">

            <div style="text-align: center">
                <div class="vass-title">Why VASSIT?</div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="vass-stat">
                            <div class="stat-number">2/3</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eligendi inventore pariatur quisquam sit voluptatibus?</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="vass-stat">
                            <div class="stat-number">90%</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eligendi inventore pariatur quisquam sit voluptatibus?</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="vass-stat">
                            <div class="stat-number">143</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eligendi inventore pariatur quisquam sit voluptatibus?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>