<div data-screen="home">
    <!--<div class="container">-->
        <!--<div class="row">-->
            <div class="banner"
                 style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/282PFH48UW.jpg')">
                <div class="container" style="height: 100%">
                    <div class="banner-text">
                        <h1>The Value of Making Things Simple</h1>

                        <p>
                            Get an overview of our company. Meet our leaders. Learn about our people, culture and our commitment to
                            diversity. Learn about our Business Standards.
                        </p>
                    </div>

                </div>
                <div class="overlay">

                </div>

            </div>

        <!--</div>-->

    <!--</div>-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="promo">
                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/84GOP2OAKR.jpg')"></div>
                        </div>
                        <div class="promo-content">
                            <h3>What We Do</h3>

                            <p>
                                Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                                scientie, musica, sport etc, litot Europa usa li sam vocabular.
                            </p>

                            <a class="vass-btn" href="#"><strong>More &nbsp; <i class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="promo">
                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/E7CC86AEBC.jpg')"></div>
                        </div>
                        <div class="promo-content alt">
                            <h3>Our People</h3>

                            <p>
                                Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
                                Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar
                                custosi traductores.
                            </p>
                            <a class="vass-btn alt" href="#"><strong>More &nbsp; <i
                                    class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="promo">

                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/D343C9600B.jpg')"></div>
                        </div>
                        <div class="promo-content">
                            <h3>Technology</h3>

                            <p>
                                At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
                                Ma quande lingues coalesce
                            </p>
                            <a class="vass-btn" href="#"><strong>More &nbsp; <i class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="promo-large">
            <div class="row">
                <div class="col-sm-7">
                    <div class="row">

                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/BB18F3365D.jpg')"></div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-5">
                    <div class="row">

                        <div class="promo-content alt">
                            <h3>Our Clients</h3>

                            <p>
                                Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
                                Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar
                                custosi traductores.
                            </p>

                            <p>
                                At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
                                Ma quande lingues coalesce
                            </p>
                            <a class="vass-btn alt" href="#"><strong>More &nbsp; <i
                                    class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="promo">
                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://unsplash.it/500/300/?random&2')"></div>
                        </div>
                        <div class="promo-content">
                            <h3>Careers</h3>

                            <p>
                                Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                                scientie, musica, sport etc, litot Europa usa li sam vocabular.
                            </p>

                            <a class="vass-btn" href="#"><strong>More &nbsp; <i class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="promo">
                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://unsplash.it/500/300/?random&3')"></div>
                        </div>
                        <div class="promo-content alt">
                            <h3>Values</h3>

                            <p>
                                Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
                                Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar
                                custosi traductores.
                            </p>
                            <a class="vass-btn alt" href="#"><strong>More &nbsp; <i
                                    class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="promo">

                        <div class="promo-image-container">
                            <div class="promo-image"
                                 style="background-image: url('https://unsplash.it/500/300/?random&5')"></div>
                        </div>
                        <div class="promo-content">
                            <h3>Other Content</h3>

                            <p>
                                At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
                                Ma quande lingues coalesce
                            </p>
                            <a class="vass-btn" href="#"><strong>More &nbsp; <i class="fa fa-angle-right"></i></strong></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>